.content{
    background:#ccd7e0;
    max-width:900px;
    padding-left:10px;
    padding-top:10px;
    margin:50px auto;
    position:relative;
}

.marker{
    position:absolute;
    width:400px;
    right:0;
}

.fixedmarker{
    background:#64879E;
    color:#fff;
    position:fixed;
    padding-left:10px;
    width:400px;
}

.fixedmarker li.won {
    background-color: rgb(255,0,255);
}